# build system stuff
*.o
*.a
.deps/
.dirstamp
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
configure
config.*
depcomp
install-sh
missing

# built programs
wtf82wtf16
wtf82wtf32
wtf162wtf8
wtf322wtf8
